<html>
    <head>
        <title>Node project</title>
    </head>
    <body>
        <h1>Welcome to Central University of Rajasthan</h1>
        <form action="login.html" method="get">
            <input type="text" name="name" placeholder="Enter Your Name"></input>
            <input type="text" name="city" placeholder="Enter City"></input>
            <input type="submit" value="Login"></input>
        </form>
    </body>
</html>