<html>
    <head>
        <title>Node project</title>
    </head>
    <body>
        <h1>Welcome to Central University of Rajasthan</h1>
        <form action="/login.html" method="get">
            <input type="text" id="nm" name="name" placeholder="Enter Your Name"></input>
            <input type="text"citi  id="" name="city" placeholder="Enter City"></input>
            <input type="submit" value="Login"></input>
        </form>
        <p id="message-1"></p>
    </body>
    <script src="/js/validate.js"></script>
    
</html>